@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}



:root{
    --pink: #e79ea7;
    --green: #d7fecf;
    --blue: #90c6b9;
}


html{
    font-size: 77%;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -100;
    right: 0;
}

.header{
    width: 100%;
    height: auto;
    padding: 1.5rem;
    z-index: 1000000;
    background: blue;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
}

.header h2{
    font-family: "Great Vibes",cursive;
    color: white;
    font-size: 4rem;
    background-color: black;
    background: #E79EA7;
    background: radial-gradient(
        circle farthest-corner at center center,
        #E79EA7 0%,
        #90C6B9 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


span{
    background: radial-gradient(
        circle farthest-corner at center center,
        #E79EA7 50%,
        #90C6B9 50%
    );
    font-weight: bolder;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.header a{
    color: white;
    font-size: 2rem;
    padding-left: 1.9rem;
    font-family: "Oleo Script Swash Caps", serif;
}


.maintext{
    width: 95%;
    height: 90vh;
    background-color: black;
    position: absolute;
    top: 8%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.leftside{
    width: 40%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    padding: 1rem;
    font-family: 'Pacifico', cursive;
}

.first{
    width: 90%;
    background-color: transparent;
    color: white;
    height: 50%;
    font-size: 1.8rem;
    padding: 4rem;
    text-align: center;  
}

.rightside img{
    width: 90%;
    height: 90%;
}

.icons{
    padding: 2rem;
}


.second{
    width: 100%;
    height: 10%;
    background: transparent;
    color: green;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}

.rightside{
    width: 60%;
    height: 60%;
    background: transparent;
}
button{
    width: 60%;
    height: 4rem;
    border-radius: 2rem;
    background-color: black;
    color: var(--pink);
    border: 2px solid black;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

button:hover{
    word-spacing: 0.8rem;
    font-size: 2.2rem;
    cursor: pointer;
    padding-left: 1rem;
}


a:hover{
    word-spacing: 0.5rem;
    font-size: 2.2rem;
    cursor: pointer;
    padding-left: 1rem;
}

.container2{
    width: 100%;
    height: auto;
    background: black;
}

.heading{
    color: white;
    font-size: 4rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: "Pacifico", serif;
}

.underline{
    background: white;
    height: 0.5rem;
    width: 38%;
    position: relative;
    top: 10%;
    border-radius: 2rem;
    left: 33%;
}

.antique{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.items{
    transition: 0s;
    border-radius: 2rem;
    width: 30rem;
    height: 48rem;
    background: transparent;
    color: white;
    display: flex;
    margin: 4rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
}

.top{
    width: 100%;
    height: 60%;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;

}

.top img{
    width: 100%;
    height: 100%;
}

.bottom{
    width: 100%;
    height: 45%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.bottom h2{
    font-size: 3rem;
    text-align: center;
    color: white;
}

.bottom h3{
    font-size: 2.5rem;
    color: var(--green)
}

.items button{
    width: 70%;
    margin-bottom: 1rem;
    font-family: "Oleo Script Swash Caps", serif;
    font-size: 2.8rem;
    height: 4.5rem;
    word-spacing: 0.5rem;
    background: black;
    color: var(--pink)
}

.items:hover{
    cursor: pointer;
    background: black;
    width: 33rem;
    height: 50rem;
    border: 2px solid white;
}

.container3{
    width: 100%;
    height: auto;
    background: white;
}

.container3 .heading{
    color: black;
}

.container3 .underline{
    background: black;
}

.container3 .bottom h2{
    color: rgb(174, 42, 64);
}

.container3 .bottom h3{
    color: green;
}

.container3 .items:hover{
    cursor: pointer;
    background: white;
    border: 2px solid black;
}

.container4{
    background: black;
    color: white;
    width: 100%;
}

.container5{
    background: white;
}

.container5 .heading{
    color: black;
}

.container5 .underline{
    background: black;
}

.container5 .bottom h2{
    color: rgb(174, 42, 64);
}

.container5 .bottom h3{
    color: green;
}


.footer{
    width: 100%;
    height: 65vh;
    background: black;
}

.upper{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lower{
    width: 100%;
    height: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    border-top: 4px solid white;
}

lower h2{
    margin-right: 1.5rem;
}


#b{
    width: 25%;
    height: 100%;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    padding: 1rem;
}

.searchbar{
    width: 30rem;
    height: 5rem;
    background: black;
    color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border: 2px solid white;
    padding: 1rem;
    top: 14%;
    right: -95%;
    transition: 1s;
    z-index: 10000;
}

.searchbar.active{
    right: 5%;
}

.favorite{
    width: 25rem;
    height: 15rem;
    background: black;
    color: var(--pink);
    font-size: 1rem;
    line-height: 4rem;
    z-index: 100000;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 15%;
    right: -95%;
    transition: 1s;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
}

.favorite.active{
    right: 5%;
}

.login{
    width: 30rem;
    height: 30rem;
    background-color: black;
    color: white;
    border-radius: 2rem;
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 14%;
    right: -95%;
    transition: 1s;
    z-index: 100000;
}

#username{
    width: 90%;
    height: 20%;
    background: black;
    color: white;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 2rem;
}

#password{
    width: 90%;
    height: 20%;
    background: black;
    color: white;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 2rem;
}

.login a{
    font-size: 1.5rem;
    color: white;
}

.login.active{
    right: 5%;
}


.iconsfooter{
    width: 100%;
    height: 90%;
    background: transparent;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}


.footer h1{
    background: black;
    background-color: black;
    background: #E79EA7;
    background: radial-gradient(
        circle farthest-corner at center center,
        #E79EA7 0%,
        #90C6B9 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input{
    width: 95%;
    height: 20%;
    border-radius: 2rem;
    border: 2px solid white;
    color: black;
    font-size: 2rem;
    padding: 1rem;
}


.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




@media(min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}
